@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: #fff;
}

.hiddeScroll::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1000px) {
  .hiddeScroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    display: block;
  }
  .hiddeScroll:-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }
  .hiddeScroll::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 2px solid #f2f2f2;
  }
  .hiddeScroll::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
}

.animationContainer {
  animation: animationContainer 1s ease forwards;
}

.animationBall {
  animation: animationBall 4s ease forwards;
}

.animationContent {
  animation: animationContent 4s ease forwards;
}

@keyframes animationContainer {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes animationBall {
  0% {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 5px #fffa;
  }

  20% {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(0%);
    box-shadow: 0 0 5px #fffa;
  }

  30% {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(-200%);
    box-shadow: 0 0 5px #fffa;
  }

  40% {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translateY(0%);
    box-shadow: 0 0 5px #fffa;
  }

  50% {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 5px #fffa;
  }

  55% {
    border-radius: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 5px #fffa;
  }

  100% {
  }
}

@keyframes animationContent {
  0% {
    opacity: 0;
  }

  55% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
